src/FpML.SPFI/spfi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.moex.com/spfi-1" xmlns:ms="http://www.moex.com/spfi-1" xmlns:fpml="http://www.fpml.org/FpML-5/confirmation" targetNamespace="http://www.moex.com/spfi-1" elementFormDefault="qualified" version="1.5">
	<xs:annotation>
		<xs:documentation xml:lang="ru">Xsd-схема отчетов, предоставляемых на рынке СПФИ Московской Биржи. Версия: 1.6.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Импортируем пространство имён XML.</xs:documentation>
		</xs:annotation>
	</xs:import>
	<xs:import namespace="http://www.fpml.org/FpML-5/confirmation" schemaLocation="fpml/fpml-main-5-6.xsd">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Импортируем FpML 5.6. (confirmation)</xs:documentation>
		</xs:annotation>
	</xs:import>
	<!-- ms:moexSpfiReport -->
	<xs:element name="moexSpfiReport">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Корневой элемент.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header" type="Header"/>
				<xs:element name="fpml" type="Fpml" minOccurs="0"/>
				<xs:element name="guaranteeFund" type="GuaranteeFund" minOccurs="0"/>
				<xs:element name="initialMargin" type="InitialMargin" minOccurs="0"/>
				<xs:element name="riskParameters" type="RiskParameters" minOccurs="0"/>
				<xs:element name="userList" type="UserList" minOccurs="0"/>
				<xs:element name="infoMessage" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Информационный блок. Используется для отображения дополнительных сообщений в html представлении отчета. Не предполагает автоматическую обработку.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute ref="xml:lang"/>
								<xs:attribute name="type" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Версия схемы.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="type" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Тип отчета.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="xslt" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Версия xslt, которая используется для просмотра отчета.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- Header type -->
	<xs:complexType name="Header">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Заголовок сообщения.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="messageId" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Номер сообщения.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sentBy" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Отправитель.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sendTo" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Получатель.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="clearingDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Дата клиринга.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="creationTimestamp" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Время генерации отчета.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="clearingSessionNo" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Номер клиринговой сессии.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- FpML type -->
	<xs:complexType name="Fpml">
		<xs:sequence>
			<xs:element name="trade" type="Trade" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="amendment" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="trade" type="Trade"/>
						<xs:element name="agreementDate" type="xs:date"/>
						<xs:element name="effectiveDate" type="xs:date"/>
						<xs:element name="payment" type="fpml:Payment" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="otherPartyPayment" type="fpml:Payment" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="termination" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="originalTrade" type="Trade"/>
						<xs:element name="agreementDate" type="xs:date"/>
						<xs:element name="effectiveDate" type="xs:date"/>
						<xs:element name="payment" type="fpml:Payment" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="otherPartyPayment" type="fpml:Payment" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="fpml:market" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Информация о рыночных данных.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="fpml:PartiesAndAccounts.model">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Информация о сторонах по сделке.</xs:documentation>
				</xs:annotation>
			</xs:group>
		</xs:sequence>
	</xs:complexType>
	<!-- Trade type -->
	<xs:complexType name="Trade">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Элемент описывающий сделку или отдельный платеж (ввод/вывод средств).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="fpml:Trade">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Базовый тип = Trade из FpML.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="moexSpfiExt" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Дополнительные данные, используемые на рынке СПФИ.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="tradeInfo" minOccurs="0">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Дополнительная информация о сделке.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="settlementCode" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="ru">Расчетный код на котором учитывается сделка или платеж.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="csa" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="ru">CSA сделки.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="uti" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="ru">UTI сделки.</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="npv" minOccurs="0">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Информация о NPV сделки.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="npvConversion" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="npvConversionDate" type="xs:date"/>
														<xs:element name="npvOldValue">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="npvCurrency" type="xs:string"/>
																	<xs:element name="npvAmount" type="xs:decimal"/>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="npvNewValue">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="npvCurrency" type="xs:string"/>
																	<xs:element name="npvAmount" type="xs:decimal"/>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="npvPayment" type="fpml:Payment" maxOccurs="2"/>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="npvPoint" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation xml:lang="ru">Одна пара "Дата" - "Значение".</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="npvDate" type="xs:date">
															<xs:annotation>
																<xs:documentation xml:lang="ru">Дата расчета NPV.</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="npvValue">
															<xs:annotation>
																<xs:documentation xml:lang="ru">Значение NPV.</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="npvCurrency" type="xs:string">
																		<xs:annotation>
																			<xs:documentation xml:lang="ru">Валюта NPV.</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="npvAmount" type="xs:decimal">
																		<xs:annotation>
																			<xs:documentation xml:lang="ru">Значение NPV.</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="npvPayment" type="fpml:Payment" minOccurs="0" maxOccurs="2">
															<xs:annotation>
																<xs:documentation xml:lang="ru">Платеж, уплачиваемый/получаемый в результате изменени NPV.</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="paymentStatus" minOccurs="0">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Статус платежа (используется для ввода/вывод средств).</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="paymentStatusCode" type="xs:string">
												<xs:annotation>
													<xs:documentation xml:lang="ru">Код статуса платежа.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="paymentStatusDescription" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation xml:lang="ru">Описание статуса платежа или ошибки.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:simpleContent>
														<xs:extension base="xs:string">
															<xs:attribute ref="xml:lang"/>
														</xs:extension>
													</xs:simpleContent>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="paymentBase" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Справочная информация о начисленных процентах (используется для типа PRC_DM).</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="startDate" type="xs:date">
												<xs:annotation>
													<xs:documentation xml:lang="ru">Дата начала периода за который начисляются проценты.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="maturityDate" type="xs:date">
												<xs:annotation>
													<xs:documentation xml:lang="ru">Дата окончания периода за который начисляются проценты.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="principal" type="fpml:PositiveMoney">
												<xs:annotation>
													<xs:documentation xml:lang="ru">База для начисления процентов.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="fixedRate" type="fpml:PositiveDecimal">
												<xs:annotation>
													<xs:documentation xml:lang="ru">Ставка по которой начисляются проценты.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="dayCountFraction" type="fpml:DayCountFraction">
												<xs:annotation>
													<xs:documentation xml:lang="ru">Конвенция.</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="tradeComment" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation xml:lang="ru">Комментарий из сделки.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- GuaranteeFund type -->
	<xs:complexType name="GuaranteeFund">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Информация о взносе в гарантийный фонд (ККО).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="gfDeterminedAmount" type="CurrencyAndAmount">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Установленный размер взноса в ККО.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gfAsset" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Актив входящий в ККО.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="gfActualAmount" type="AssetAndAmount">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Размер фактического взноса в ККО.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="gfEstimateAmount" type="CurrencyAndAmount">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Оценка взноса в ККО.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="gfUsedAmount" type="AssetAndAmount" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Использованная сумма взноса в ККО.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="gfReturnedAmount" type="AssetAndAmount" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Сумма возмещенного взноса в ККО.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="id" type="xs:ID"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="gfSummEstimateAmount" type="CurrencyAndAmount" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Суммарная оценка взноса в ККО.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gfSummUsedAmount" type="CurrencyAndAmount" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Суммарная оценка использованной суммы взноса в ККО.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gfSummReturnedAmount" type="CurrencyAndAmount" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Суммарная оценка возмещенного взноса в ККО.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gfAddAmount" type="CurrencyAndAmount" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Требование по довнесению.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- InitialMargin type -->
	<xs:complexType name="InitialMargin">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Информация о депозитной марже (ИКО).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="settlementCode" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Расчетный код.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="settlementCodeId" type="xs:string">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Id расчетного кода.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="unifiedPoolStatus" type="xs:string">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Является расчетным кодом Единого Пула.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="balance" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Информация по одному активу.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="balanceStartDay" type="AssetAndAmount">
										<xs:annotation>
											<xs:documentation xml:lang="ru">Баланс на начало дня.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="balanceBeforeClearing" type="AssetAndAmount">
										<xs:annotation>
											<xs:documentation xml:lang="ru">Баланс на начало клиринга.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="liability">
										<xs:annotation>
											<xs:documentation xml:lang="ru">Нетто-обязательства.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="liabilityAmount" type="AssetAndAmount">
													<xs:annotation>
														<xs:documentation xml:lang="ru">Сумма обязательств.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="liabilityDetails" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="ru">Подробное описание обязательств (по типам).</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="liabilityGroup" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation xml:lang="ru">Сумма обязательств по одному типу.</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="liabilityAmount" type="AssetAndAmount">
																			<xs:annotation>
																				<xs:documentation xml:lang="ru">Сумма обязательств.</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="liabilityType">
																			<xs:annotation>
																				<xs:documentation xml:lang="ru">Тип обязательств.</xs:documentation>
																			</xs:annotation>
																			<xs:complexType>
																				<xs:simpleContent>
																					<xs:extension base="xs:string">
																						<xs:attribute name="liabilityTypeScheme" type="xs:anyURI"/>
																					</xs:extension>
																				</xs:simpleContent>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																	<xs:attribute name="id" type="xs:ID"/>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="payments" type="AssetAndAmount">
										<xs:annotation>
											<xs:documentation xml:lang="ru">Платежи по обязательствам.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="balanceAfterClearing" type="AssetAndAmount">
										<xs:annotation>
											<xs:documentation xml:lang="ru">Баланс после клиринга.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="estimateAmount" type="CurrencyAndAmount">
										<xs:annotation>
											<xs:documentation xml:lang="ru">Оценка актива.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="amountAvailable" type="CurrencyAndAmount">
										<xs:annotation>
											<xs:documentation xml:lang="ru">Доступная к возврату сумма валюты.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="id" type="xs:ID"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="estimateAmountSumm" type="CurrencyAndAmount">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Суммарная оценка средств обеспечения.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="initialMarginMin" type="CurrencyAndAmount">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Требование к минимальной сумме обеспечения.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="estimateAmountAvailable" type="CurrencyAndAmount">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Свободные средства (суммарная оценка-мин.требования).</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="estimateAmountBalance" type="CurrencyAndAmount">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Оценка обеспечения без риск-неттинга.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="id" type="xs:ID"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- RiskParameters type -->
	<xs:complexType name="RiskParameters">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Риск-параметры.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="risk" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="riskBase" type="xs:string">
							<xs:annotation>
								<xs:documentation xml:lang="ru">База (FX, RUB OIS, RUB Rate Basis, XCCY Basis, USD IRS).</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="riskType" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Тип риска (Shift, Twist, Butterfly).</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="riskCurve">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Кривая значений.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="riskPoint" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation xml:lang="ru">Точка кривой.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="riskTerm" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="ru">Срок.</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="periodMultiplier" type="xs:integer">
																<xs:annotation>
																	<xs:documentation xml:lang="ru">Срок.</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="period" type="fpml:PeriodEnum">
																<xs:annotation>
																	<xs:documentation xml:lang="ru">Размерность срока.</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="riskRate" type="xs:decimal">
													<xs:annotation>
														<xs:documentation xml:lang="ru">Значение риска.</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="id" type="xs:ID"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- UserList type -->
	<xs:complexType name="UserList">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Список пользователей.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="user">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="userId" type="xs:string">
							<xs:annotation>
								<xs:documentation xml:lang="ru">Идентификатор пользователя.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="id" type="xs:ID"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--  -->
	<!-- Повторяющиеся элементы -->
	<!-- CurrencyAndAmount type -->
	<xs:complexType name="CurrencyAndAmount">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Представляет собой пару валюта/сумма; используется для указания сумм платежей, обязательств и пр.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="currency" type="fpml:Currency"/>
			<xs:element name="amount" type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>
	<!-- AssetAndAmount type -->
	<xs:complexType name="AssetAndAmount">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Представляет собой пару актив/сумма; используется по аналогии CurrencyAndAmount, но в тех случаях, когда кроме валюты может быть какой-то другой актив (напр., акции).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="asset" type="xs:string"/>
			<xs:element name="amount" type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation xml:lang="ru">
		Изменения:
		--- Версия 1.1 ---
		Добавлен один уровень вложенности в InitialMargin (settlementCode)
		Добавлен атрибут в settlementCode (id)
		Добавлен один уровень вложенности в RiskParameters (risk)
		Добавлен один уровень вложенности в npv (npvValue)
		Изменена логика представления данных о риск-параметрах (теперь в виде кривой)
		--- Версия 1.2 ---
		Элемент party заменен на группу PartiesAndAccounts.model (для отображения аккаунтов)
		Убран элемент secondPartyIdentifier, теперь сторона по парному договору указывается в fpml-части (partyTradeInformation/relatedParty)
		Переименованы элементы внутри NPV, т.к. повторялись имена
		Поменялась структура блока с ИКО (initialMargin): теперь балансы, обязательства и платежи группируются по активам
		Добавлен новый тип AssetAndAmount для отображения активов отличных от валют
		В конце сообщения добавлен элемент infoMessage (используется для отображения дополнительных текстовых сообщений в html представлении; не предполагает автоматическую обработку)
		Группа payerReceiver ликвидирована за ненадобностью
		Изменена структура элемента GuaranteeFund так, чтобы можно было учитывать несколько разных базовых активов
		--- Версия 1.3 ---
		Для элементов, которые имеют фиксированный набор строковых данных, теперь указываются атрибут со ссылкой на их возможные значения (до перезда на домен moex.com все схемы доступны по адресу https://www.dropbox.com/sh/4rgp0uzcl6mj5cs/AAAyTMozumQksn3oWRj0JAlHa?dl=0 )
		Элемент liabilityType переименован в liabilityGroup
		Элемент liabilityCode переименован в liabilityType, а также ему добавлен атрибут liabilityTypeScheme
		Элемент paymentStatus перенесен на один уровень выше (из tradeInfo в moexSpfiExt)
		В элемент moexSpfiExt добавлен новый элемент paymentBase (по сути - копия fpml:TermDeposit), в котором указываются параметры для расчета платежа с начисленными процентов (тип = PRC_DM)
		--- Версия 1.4 ---
		Комментарии с описанием элементов перенесены в xs:documentation
		Добавлено изменение параметров сделки (amendment)
		Добавлено досрочное закрытие сделки (termination)
		--- Версия 1.5 ---
		Добавлен атрибут в settlementCode (unifiedPoolStatus)
		Добавлен элемент в header (clearingSessionNo)
		Добавлен блок в moexSpfiReport (UserList)
		--- Версия 1.6 ---
		Добавлен элемент в balance (amountAvailable)
		Добавлен элемент в settlementCode (estimateAmountBalance)
		</xs:documentation>
	</xs:annotation>
</xs:schema>
